body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.proyecto-bg {
  background-image: url('../../public/img/fondo-proyectos.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #fff;
  text-align: center;
}

.proyecto-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.proyecto {
  width: 45%;
  margin: 20px 0;
}

.proyecto h2,
.proyecto p {
  text-shadow: 2px 2px 4px #000;
  font-size: 1.5em;
}

.labvivo-section {
  background-image: url('../../public/img/fondo-texto.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 30px;
  color: #fff;
  text-align: center;
}

.labvivo-section h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px #000;
}

.labvivo-section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 1.8em;
  text-shadow: 2px 2px 4px #000;
}
